@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #CAD2FC;
    /* font-family: "Open sans", sans-serif;
    font-family: "Poppins", sans-serif; */
}

.container {
    display: flex;
    width: 70%;
    height: 605px;
    border-radius: 20px;
    margin: 50px auto;
    box-shadow: 5px 5px 20px rgba(151, 170, 255, 0.5);
    overflow: hidden;
}

.side_left {
    background-color: #f4f4ff;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side_left>img {
    width: 400px;
    height: 400px;
}

.side_right {
    width: 50%;
    padding: 70px 50px;
    text-align: center;
    background-color: white;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.login-header {
    margin-left: 60px;
    text-align: left;
}

.side_right .login-header h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.side_right .login-header>p {
    text-align: left;
    font-size: 14 px;
    line-height: 40px;
    color: rgb(64, 64, 145);
}

.sign_in {
    width: 70%;
    height: 40px;
    border: 1px solid rgba(151, 170, 255, 0.5);
    border-radius: 20px;
    padding: 10px 12px;
    box-shadow: 2px 2px 20px rgba(151, 170, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.sign_in img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.sign_in>p {
    color: rgb(13, 12, 12);
    font-size: 14px;
    font-weight: 600;
}

.hr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 60px;
    font-size: 14px;
    color: #9e9e9e;
}

.hr>div {
    width: 70px;
    height: 1px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 20px;
}

.emailbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.emailbox p {
    color: rgb(13, 12, 12);
    font-size: 14px;
    font-weight: 600;
    margin-left: 60px;
    margin-bottom: 12px;
}

.email_input {
    width: 70%;
    height: 40px;
    border: 1px solid rgba(151, 170, 255, 0.5);
    border-radius: 20px;
    padding: 10px 12px;
    box-shadow: 5px 5px 20px rgba(151, 170, 255, 0.5);
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

.email_input input:focus {
    border: blue;
}

.email_input input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

input::placeholder {
    font-size: 14px;
    color: #9e9e9e;
}

.check_box {
    margin: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.check_box p {
    color: blue;
}

.check_box check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 70%;
    height: 40px;
    border: 1px solid rgba(151, 170, 255, 0.5);
    border-radius: 20px;
    padding: 12px 15px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(21, 21, 255);
    box-shadow: 5px 5px 20px rgba(151, 170, 255, 0.5);
    text-align: center;
}

.login>p {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.account {
    display: flex;
    margin: 20px 60px;
    font-size: 12px;
}

.account span {
    color: blue;
}

account span {
    color: blue;
}